.footer
    .row
        .column
            .logo
                img(src="img/logo.png", alt="")
                .oval
            p Build a modern and creative website with crealand
            .links
                .ellipse
                    img(src="img/googlelink.png", alt="")
                .ellipse
                    img(src="img/twitter.png", alt="")
                .ellipse
                    img(src="img/instagramm.png", alt="")
                .ellipse
                    img(src="img/linkdln.png", alt="")
        .column
            p Product
            a(href='#') Landingpage
            a(href='#') Features
            a(href='#') Documentation
            a(href='#') Referral Program
            a(href='#') Pricing
        .column
            p Services
            a(href='#') Documentation
            a(href='#') Design
            a(href='#') Themes
            a(href='#') Illustrations
            a(href='#') UI Kit
        .column
            p Company
            a(href='#') About
            a(href='#') Terms
            a(href='#') Privacy Policy
            a(href='#') Careers
        .column
            p More
            a(href='#') Documentation
            a(href='#') License
            a(href='#') Changelog

    .bottom
        .ellipse
            img(src="img/heart.png", alt="")
        p Copyright © 2021. Crafted with love.