.leftblock
    p Schedule Your Post Whenever You Want
    p Publish your content automatically to ensure that your content reaches the right people. Built-in features such as
    .links
        .row
            img(src="img/blueok.png", alt="")
            p Best Time to Post
        .row
            img(src="img/blueok.png", alt="")
            p Geolocation
        .row
            img(src="img/blueok.png", alt="")
            p User Tag
        .row
            img(src="img/blueok.png", alt="")
            p Others benefit
    a Learn about scheduled post
        img(src="img/whitearrow-right.png", alt="")