.leftblock
    p We help you #[br] grow your business faster
        img(src="img/fasterline.png" alt="")
    p Ehya is the Instagram analytics platform teams use to stay focused on the goals, track engagement for report your business .
    .links
        button
            a(href="#") See how it works
        a(href="#") Get a free demo
            img(src="img/arrow-right.png", alt="")