.rightblock
    .column
        p “
        img(src="img/leftarrow.png", alt="")
    .column
        .stars
            img(src="img/star.png", alt="")
            img(src="img/star.png", alt="")
            img(src="img/star.png", alt="")
            img(src="img/star.png", alt="")
            img(src="img/star.png", alt="")
        p “With Ehya, we’re able to easily track our performance in full detail. It’s become an essential tool for us to grow and engage with our audience.”
        .card
            img(src="img/jaquon.png", alt="")
            .content
                p Jaquon Hart
                p Digital Marketing Executive, Hypebeast
        .ellipses
            .ellipse
            .ellipse
            .ellipse
            .ellipse
            .ellipse
    .column
        .ellipse
            img(src="img/whiterightarrow.png", alt="")