.leftblock
    p Grow your brand presence on social media 😍
    p Join with more 1200+ happy customers
    .peoples
        img(src="img/people1.png", alt="")
        img(src="img/people2.png", alt="")
        img(src="img/people3.png", alt="")
        img(src="img/people4.png", alt="")
        img(src="img/people5.png", alt="")
        a(href="#") and others