.innerchild
    .imgs
        img(src="img/phones.png", alt="")
        img(src="img/ringarrow.png", alt="")
    .rightblock
        p Measure Impressions #[br] and Reach Post
        p Graphs displaying your performance for metrics like follower evolution, average engagement rate per post and reach and impressions to give you the insights.
        a(href="#") Learn about graphs
            img(src="img/whitearrow-right.png", alt="")