extends ../layouts/layout.pug

block header
    .header
        .logo
            img(src="img/logo.png", alt="")
            .oval
        .links
            a(href="#") Home
            a(href="#") Landings #[img(src='img/arrow-down.png' alt='')]
            a(href="#") Pages #[img(src='img/arrow-down.png' alt='')]
            a(href="#") Docs
            a(href="#") Help
            button
                a(href="#") Login

    .innerchild
        .leftblock
            p We help you #[br] grow your business faster
                img(src="img/fasterline.png" alt="")
            p Ehya is the Instagram analytics platform teams use to stay focused on the goals, track engagement for report your business .
            .links
                button
                    a(href="#") See how it works
                a(href="#") Get a free demo
                    img(src="img/arrow-right.png", alt="")

        .rightblock
            img(src="img/screens.png", alt="")
        .ring
            .innerring
block main

block footer