extends ../layouts/layout.pug

block header
    include ../includes/header/header.pug
    include ../includes/header/innerchild.pug

block main
    include ../includes/main/firstblock/firstcontent.pug
    include ../includes/main/secondblock/secondcontent.pug
    include ../includes/main/thirdblock/thirdcontent.pug
    include ../includes/main/fourthblock/fourthcontent.pug
    include ../includes/main/fifthblock/fifthcontent.pug

block footer
    include ../includes/footer/footer.pug