@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 874px;
  padding-top: 30px;
  color: white;
  background: linear-gradient(180deg, #1dc0f1 0%, #05a4da 100%);
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 38px;
}
header .logo {
  display: flex;
  width: 80px;
}
header .logo .oval {
  width: 6.86px;
  height: 6.86px;
  margin-top: 5px;
  margin-left: 2.5px;
  background-color: #005490;
  border-radius: 50%;
}
header .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  font-size: 14px;
}
header .links img {
  margin-bottom: 1px;
}
header .links a {
  font-weight: 500;
  color: white;
}
header .links button {
  width: 95px;
  height: 38px;
  background: linear-gradient(270deg, #005490 0%, #328BCB 100%);
  border-radius: 5px;
}
header .innerchild {
  display: flex;
  width: 95%;
  height: 600px;
  margin-top: 170px;
}
header .innerchild .leftblock {
  z-index: 1;
  width: 600px;
  height: 80%;
}
header .innerchild .leftblock p:nth-child(1) {
  font-size: 64px;
  font-weight: 700;
}
header .innerchild .leftblock p:nth-child(1) img {
  position: relative;
  top: 40px;
  right: 165px;
}
header .innerchild .leftblock p:nth-child(2) {
  width: 459px;
  margin-top: 50px;
}
header .innerchild .leftblock .links {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 57px;
  margin-top: 20px;
}
header .innerchild .leftblock .links button {
  width: 197px;
  height: 57px;
  background: white;
}
header .innerchild .leftblock .links button a {
  font-size: 16px;
  font-weight: 500;
  color: #40BEE4;
}
header .innerchild .leftblock .links a {
  font-size: 16px;
}
header .innerchild .leftblock .links a img {
  position: relative;
  top: 2.5px;
  max-width: 24px;
  max-height: 12px;
  margin-left: 7px;
}
header .innerchild .rightblock {
  position: absolute;
  left: 595px;
  z-index: 2;
  width: 1038px;
  height: 666px;
  overflow: hidden;
}
header .innerchild .ring {
  position: absolute;
  top: 130px;
  left: 650px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 470px;
  background: linear-gradient(180deg, #45C8F0 0%, #20B7E6 100%);
  border-radius: 50%;
}
header .innerchild .ring .innerring {
  width: 275px;
  height: 275px;
  background-color: #1EBBEB;
  border-radius: 50%;
}

.firstcontent {
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1050px;
  background-color: white;
}
.firstcontent .sponsores {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1100px;
  height: 38.81px;
  margin-top: 100px;
}
.firstcontent .sponsores img:nth-child(1) {
  width: 120.7px;
  height: 40.83px;
}
.firstcontent .sponsores img:nth-child(2) {
  width: 130.7px;
  height: 40.83px;
}
.firstcontent .sponsores img:nth-child(3) {
  width: 125.7px;
  height: 40.83px;
}
.firstcontent .sponsores img:nth-child(4) {
  width: 125.7px;
  height: 42.01px;
}
.firstcontent .sponsores img:nth-child(5) {
  width: 135.7px;
  height: 30.01px;
}
.firstcontent .innerchild {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1139px;
  height: 888px;
  margin-top: 100px;
}
.firstcontent .innerchild .imgs {
  width: 694px;
  height: 800px;
}
.firstcontent .innerchild .imgs img:nth-child(2) {
  position: relative;
  right: 11px;
  bottom: 620px;
  width: 720.4px;
  height: 705.45px;
}
.firstcontent .innerchild .rightblock {
  width: 485px;
  height: 500px;
  padding-top: 100px;
}
.firstcontent .innerchild .rightblock p:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
  color: #034D82;
  letter-spacing: 0.3px;
}
.firstcontent .innerchild .rightblock p:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 32px;
  color: #90A3B4;
}
.firstcontent .innerchild .rightblock a {
  font-weight: 700;
  color: #04AADD;
}
.firstcontent .innerchild .rightblock a img {
  position: relative;
  top: 1.5px;
  left: 10px;
  width: 15px;
}

.secondcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 426px;
}
.secondcontent .leftblock {
  width: 485px;
}
.secondcontent .leftblock p:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
  color: #034D82;
  letter-spacing: 0.3px;
}
.secondcontent .leftblock p:nth-child(2) {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #90A3B4;
}
.secondcontent .leftblock .links {
  width: 162px;
  height: 145px;
  margin-bottom: 20px;
}
.secondcontent .leftblock .links .row {
  display: flex;
}
.secondcontent .leftblock .links .row img {
  width: 20.33px;
  height: 17.33px;
  margin-top: 2px;
}
.secondcontent .leftblock .links .row p {
  margin-top: 0;
  margin-left: 5px;
}
.secondcontent .leftblock a {
  font-weight: 700;
  color: #04AADD;
}
.secondcontent .leftblock a img {
  width: 15px;
  margin-left: 10px;
}
.secondcontent .notebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 699px;
  height: 410px;
}
.secondcontent .notebook .lid {
  display: flex;
  justify-content: center;
  width: 566px;
  height: 384px;
  background-color: #1A202C;
  border: 2px solid #4A5568;
  border-radius: 28px 28px 4px 4px;
}
.secondcontent .notebook .lid .darkscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 366px;
  margin-top: 5px;
  background-color: black;
  border-radius: 22px 22px 0 0;
}
.secondcontent .notebook .lid .darkscreen img {
  width: 545px;
  height: 351px;
}
.secondcontent .notebook .base {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 12.5px;
  background: linear-gradient(90deg, #0D1012 0%, #CAD4DB 2.95%, #242729 6.25%, #A3ACB1 13.36%, #A3ACB1 86.6%, #242729 94.19%, #CAD4DB 97.13%, #0D1012 99.64%);
  border-radius: 2px 2px 0 0;
}
.secondcontent .notebook .base .groove {
  width: 116px;
  height: 10px;
  background: linear-gradient(90deg, #3C3C3C 9.86%, rgba(60, 60, 60, 0) 35.92%, rgba(60, 60, 60, 0) 64.08%, #444 91.93%);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.secondcontent .notebook .bottomcurve {
  width: 700px;
  height: 8.5px;
  background: linear-gradient(180deg, #7A7F83 0%, #0B0B0E 100%);
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.thirdcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1339px;
  height: 600px;
  padding-top: 80px;
  margin-top: 150px;
  background-color: #EFFBFF;
}
.thirdcontent p:nth-child(1) {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 700;
  color: #034D82;
  letter-spacing: 0.3px;
}
.thirdcontent p:nth-child(2) {
  line-height: 32px;
  color: #8EA9C1;
  text-align: center;
  letter-spacing: 0.3px;
}
.thirdcontent .innerchild {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  height: 300px;
  margin-top: 76px;
}
.thirdcontent .innerchild .card {
  width: 259px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
}
.thirdcontent .innerchild .card .innercontent {
  width: 198px;
  height: 202px;
  margin: 28px;
}
.thirdcontent .innerchild .card .innercontent img {
  width: 56px;
  height: 56px;
}
.thirdcontent .innerchild .card .innercontent p:nth-child(2) {
  margin-top: 26px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #034D82;
  text-align: left;
  letter-spacing: 0.2px;
}
.thirdcontent .innerchild .card .innercontent p:nth-child(3) {
  font-size: 15px;
  line-height: 24px;
  color: #8EA9C1;
  letter-spacing: 0.3px;
}

.fourthcontent {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 315px;
  margin-top: 200px;
}
.fourthcontent .leftblock {
  width: 440px;
}
.fourthcontent .leftblock p:nth-child(1) {
  margin-top: 47px;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  color: #034D82;
}
.fourthcontent .leftblock p:nth-child(2) {
  margin-top: 24px;
  line-height: 32px;
  color: #90A3B4;
  letter-spacing: 0.3px;
}
.fourthcontent .rightblock {
  display: flex;
  width: 600px;
}
.fourthcontent .rightblock .column {
  height: 100%;
}
.fourthcontent .rightblock .column:nth-child(1) {
  width: 76px;
}
.fourthcontent .rightblock .column:nth-child(1) p {
  margin-bottom: 60px;
  font-size: 130px;
  color: #034D82;
}
.fourthcontent .rightblock .column:nth-child(2) {
  width: 442px;
}
.fourthcontent .rightblock .column:nth-child(2) .stars {
  display: flex;
  justify-content: space-around;
  width: 110px;
  margin-top: 50px;
}
.fourthcontent .rightblock .column:nth-child(2) p:nth-child(2) {
  margin-top: 14px;
  font-style: italic;
  line-height: 32px;
  color: #90A3B4;
}
.fourthcontent .rightblock .column:nth-child(2) .card {
  display: flex;
  width: 357px;
  height: 56px;
  margin-top: 25px;
}
.fourthcontent .rightblock .column:nth-child(2) .card .content p {
  margin: 0 0 0 10px;
}
.fourthcontent .rightblock .column:nth-child(2) .card .content p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #034D82;
  letter-spacing: 0.2px;
}
.fourthcontent .rightblock .column:nth-child(2) .ellipses {
  display: flex;
  justify-content: space-around;
  width: 82px;
  height: 10px;
  margin-top: 15px;
}
.fourthcontent .rightblock .column:nth-child(2) .ellipses .ellipse {
  width: 10px;
  height: 10px;
  background-color: #E2ECF4;
  border-radius: 50%;
}
.fourthcontent .rightblock .column:nth-child(2) .ellipses .ellipse:nth-child(1) {
  background-color: #034D82;
}
.fourthcontent .rightblock .column:nth-child(3) {
  width: 76px;
}
.fourthcontent .rightblock .column:nth-child(3) .ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-top: 220px;
  background-color: #034D82;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */
